*{
    padding: 0;
    margin: 0;
}

.mrg{
    justify-content: end;
}

.buy{
    width: 50%;
    margin: auto;
    /* background-color: pink; */
    text-align: center;
    border: 1px solid black;
}

.left{
    float: right;
    position: sticky;
    bottom: 2vh;
    right: 20px;
    
}